@import "tailwindcss";

@theme {  
    --color-yellow: #F8DC3D;
    --color-yellow-darker: #EDC000;
    --color-orange: #FE6E2D;
    --color-orange-darker: #A34318;
    --color-teal: #B9DDD9;
    --color-teal-darker: #799F9D;
    --color-beige: #F3E8D2;
    --color-beige-darker: #E1CFA6;
    --color-beige-darkest: #CFBB8F;
    --color-purple: #A896BE;
    --color-purple-darker: #765787;
    --color-black: #190826;
    --color-black-neon: #3A0061;

    --font-sans: "Inconsolata", "monospace";
}